// Body
$body-bg: #f8fafc;

// Typography
$font-family-text: 'Raleway', 'sans-serif';
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$pink: #F05B84;
$orange: #F68B27;
$yellow: #F6EC31;
$gray: #bdbdbd;